:root {
    --color1: #EFF5F5;
    --color2: #D6E4E5;
    --color3: #497174;
    --color4: #EB6440;
}
::selection {
    background-color: var(--color4);
    color: var(--color1);
}
* {
    box-sizing: border-box;
}