@import "generic.css";

.home {
  margin-top: 60.8px;
  width: 100%;
}
.hero {
  height: calc(100vh - 60.8px);
  width: 100%;
  background-position: center;
  background-size: contain;
}
.hero-container {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  display: flex;
}
.hero-container-left {
  flex: 1;
}
.hero-container-right {
  flex: 1;
}
.hero-container-left-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}
.hero-container-left-container h1 {
  font-size: 4rem;
  transition: all 0.3s;
}
.hero-container-left-container h1:hover {
  letter-spacing: 2px;
}
.hero-container-left-container h1 span {
  font-weight: bold;
}
.hero-container-left-container h3 {
  font-size: 2.2rem;
  transition: all 0.3s;
  position: relative;
  color: #292929;
  padding-bottom: 5px;
}
@media (min-width: 1148px) {
  .hero-container-left-container h3::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #e99f00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hero-container-left-container h3:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.hero-container-left-container h3:hover {
  letter-spacing: 2px;
}
.hero-container-left-div {
  height: 37%;
  width: 100%;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.fullname,
.skills {
  background-color: rgba(179, 179, 179, 0.774);
  padding: 0.7rem 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}
.bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.skills > pre {
  margin: 0;
}
.popupHide {
  display: none;
}

/* right side */
.hero-container-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container-right .links {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}
.hero-container-right .links a {
  transition: all 0.3s;
  border: 1px solid #00000000;
}
.hero-container-right .links a:hover {
  border: 1px dashed #000000;
  border-radius: 10px;
  background-color: #e99f00;
}
.hero-container-right-main {
  background-color: #aaaaaab2;
  backdrop-filter: blur(3px);
  height: 400px;
  width: 350px;
  border-radius: 15px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.32);
}
.right-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline #ffce63;
}



@media (max-width: 570px) {
  .home {
    margin-top: 52.8px;
  }
  .hero {
    height: calc(100vh - 52.8px);
  }
  .hero-container-left {
    padding: 1rem;
  }
  .fullname,
  .skills {
    font-size: 0.8rem;
  }
}
@media (max-width: 1148px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-container-right .links {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 0;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
  }
}
