@import "generic.css";

.home-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
}
.home-links {
  width: 45px;
  height: 100%;
  background: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 180px; */
  gap: 1rem;
}
.home-links a:last-child img {
  border: 2px solid var(--color1);
  border-radius: 50%;
}
.home-links a img:hover {
    width: 30px;
    margin: 2.5px 0;
  }
.home-main {
  width: 100%;
  position: relative;
  display: flex;
}
.home-main-container {
  position: absolute;
  top: 28%;
  left: 20%;
}
.d {
  font-size: 64px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: -30px 0px;
  transition: 0.5s;
}
.s1 {
  color: var(--color2);
}
.s2 {
  color: var(--color3);
  margin-left: -18px;
  font-size: 72px;
}
.s3 {
  color: var(--color4);
  margin-left: -22px;
  font-size: 80px;
}
.d4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-top: 32px;
  transition: 0.5s;
}
.d:hover {
    letter-spacing: 2px;
}
.d4:hover {
    color: var(--color4);
}