@import 'generic.css';
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap");
* {
  font-family: "Teko", sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 120px;
    background-color: var(--color2);
}
.header-logo {
    color: var(--color3);
    font-size: 32px;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 2rem;
}
ul a {
    text-decoration: none;
    display: flex;
    height: 80px;
    align-items: center;
    font-size: 28px;
    color: var(--color3);
}
ul a:hover{
    color: var(--color1);
}
ul a.active {
    box-shadow: inset 0 -5px ;
}